@using Entities
@model IEnumerable<Topic>

<div class="card-columns">
    @foreach(var topic in Model)
    {
    <a asp-page="/Topics/@(topic.IsLeaf ? "Help" : "Explore" )" asp-route-id="@topic.Id">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@topic.Title</h5>
                @if (!string.IsNullOrWhiteSpace(topic.Description))
                {
                <p class="card-text">@topic.Description</p>
                }
            </div>
        </div>
    </a>
    }
</div>

<style>
    .card {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        color: black;
    }

    .card:hover {
        color: #007bff;
        border-color: #007bff;
        cursor: pointer;
        text-decoration: none;
    }
</style>
