a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:hover {
  text-decoration: none;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  min-height: 100vh;
  position: relative;
}
main {
  padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 59px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Custom Topic Cards */

a .card {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: black;
  min-height: 100%;
}

a .card:hover, a .card:active {
  color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

/* Aligned small text on forms */

.form-check small {
  margin-left: -1.25rem;
}

/* Dense Rows */

.row-dense {
	margin-right: -.5rem;
	margin-left: -.5rem;
}

.row-dense div {
	padding-right: .5rem;
	padding-left: .5rem;
	padding-bottom: 1rem;
}
