@page "{id}"
@using Entities
@model ExploreModel
@{
ViewData["Title"] = "Topic Explorer";
var newTopic = new Topic
{
Title = "Make Your Own Topic in " + Model.ParentTopic.Title,
Description = "For when your issue doesn't fit any of the sub-topics, but is more specific than " + Model.ParentTopic.Title + ".",
Id = Model.ParentTopic.Id
};
}

<div class="form-inline justify-content-between mb-1">
    <h1 class="mb-1">@Model.ParentTopic.Title</h1>
    <a asp-page="Help" asp-route-id="@Model.ParentTopic.Id">
        <button class="btn btn-outline-primary mb-1">My Issue Is With This Topic</button>
    </a>
</div>
<p class="mb-3">
    Keep narrowing down your issue's topic to get the best help, or click above to get help with @Model.ParentTopic.Title in general.
</p>
<hr class="mt-0">
@if (Model.ChildTopics.Count() == 0) {
<h4 class="mb-3 text-muted">There aren't any sub-topics here yet. Help us out by adding one below.</h4>
}
else {
<div class="form-inline justify-content-between mb-3">
    <h4 class="mb-0">Narrow Down Your Issue's Topic</h4>
    <input type="text" class="form-control w-auto" placeholder="Filter..." oninput="filterCards(this.value);" onkeydown="filterCards(this.value);">
</div>
<partial name="Topics/_Cards" for="ChildTopics" />
}
<hr class="mt-0">
<h4 class="mb-3">Can't Find a Topic For Your Issue?</h4>
<partial name="Topics/_TopicOptions" for="@newTopic" />

@section Scripts {
<script>
    let cards = Array.from(document.getElementsByClassName("card-col"));
    for (const card of cards) {
        card.topicTitle = card.querySelector(".card-title").innerHTML.toUpperCase() + card.querySelector(".card-body").innerHTML.toUpperCase();
    }

    let filterCards = (filterText) => {
        filterText = filterText.toUpperCase();
        if (filterText === "") {
            for (const card of cards) {
                card.style.display = "inline-block";
            }
        } else {
            for (const card of cards) {
                if (card.topicTitle.includes(filterText) || filterText.includes(card.topicTitle)) {
                    card.style.display = "inline-block";
                } else {
                    card.style.display = "none";
                }
            }
        }
    };

</script>
}
