@page "{id}"
@model ExploreModel
@{
ViewData["Title"] = "Topic Explorer";
}

<div class="row align-items-center">
    <div class="col-xl-9 col-lg-8">
        <h1>@Model.ParentTopic.Title</h1>
        <p class="mb-3">
            Keep narrowing down your topic to get the best help.
        </p>
    </div>
    <div class="col">
        <input type="text" class="form-control mb-3" placeholder="Filter..." oninput="filterCards(this.value);" onkeydown="filterCards(this.value);">
    </div>
</div>
<hr class="mt-0">
<partial name="Topics/_Cards" for="ChildTopics" />
<partial name="Topics/_TopicOptions" />

@section Scripts {
<script>
    let cards = Array.from(document.getElementsByClassName("card-col"));
    for (const card of cards) {
        card.topicTitle = card.querySelector(".card-title").innerHTML.toUpperCase() + card.querySelector(".card-body").innerHTML.toUpperCase();
    }

    let filterCards = (filterText) => {
        filterText = filterText.toUpperCase();
        if (filterText === "") {
            for (const card of cards) {
                card.style.display = "inline-block";
            }
        } else {
            for (const card of cards) {
                if (card.topicTitle.includes(filterText) || filterText.includes(card.topicTitle)) {
                    card.style.display = "inline-block";
                } else {
                    card.style.display = "none";
                }
            }
        }
    };

</script>
}
