@page
@model JsonModel
@{
    ViewData["Title"] = "Topic Json";
    ViewData["UseDefaultHeader"] = true;
}

<a class="btn btn-outline-secondary mb-3" asp-page="Json" asp-route-raw="true" target="_blank">View Raw</a>

<pre><code>@Model.JsonTopics</code></pre>
