@page
@{
    ViewData["Title"] = "Dev Tools";
}

<h1>Dev Tools</h1>

<hr>

<ul>
    <li><a asp-page="Topics/Json">Topics Json</a></li>
    <li><a href="https://github.com/DrakeAndLambert/Peerra" target="_blank">GitHub Repository</a></li>
</ul>
