@page
@model ErrorModel
@using static System.Web.HttpUtility;
@{
    ViewData["Title"] = "Error";

    var supportEmail = "dlamb19@lsu.edu";

    var subject = UrlPathEncode("Peerra Error Support Request");

    var body = UrlPathEncode($"Hi Peerra Team,\n\nI encountered an error while [actions that led to the error here].\n\nRequest Id: {Model.RequestId}\n\nThank you!");
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<p>
    We're sorry that you've experienced an error. Please contact support <a href="mailto:@supportEmail?subject=@subject&body=@body">here</a> and we will do all we can to get the error resolved.
</p>
