@page "{id}"
@model GetHelpModel
@{
    ViewData["Title"] = "Get Help";
}

<h1>We Found You Some Help For @Model.Topic.Title</h1>
<p class="mb-3">
    Keep narrowing down your topic to get the best help.
</p>

<ul>
    @foreach (var user in Model.HelpUsers) {
    <li>@user.UserName</li>
    }
</ul>
