@page
@model IndexModel
@{
ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Get Help From Your Peers</h1>
</div>
<hr>
<h2>First, Let's Break Down Your Problem.</h2>
<p class="mb-3">
    We live pretty diverse lives. Choose the topic that best relates to your issue.
</p>
<partial name="Topics/_Cards" for="RootTopics"/>
