@page "{parentId?}"
@model IndexModel
@{
ViewData["Title"] = "Home";
}

@if(Model.ParentIssue == null)
{
<div class="text-center">
    <h1 class="display-4">Get Help From Your Peers</h1>
</div>
<hr>
}

@if(Model.ParentIssue != null)
{
<h1>@Model.ParentIssue.Title</h1>
<p>
    Keep narrowing down your issue to get the best help.
</p>
}
else
{
<h2>First, Let's Break Down Your Problem.</h2>
<p>
    We live pretty diverse lives. Choose the area that best relates to your issue.
</p>
}
<div class="card-columns">
    @foreach(var issue in Model.ChildIssues)
    {
    <a asp-page="/Index" asp-route-parentId="@issue.Id">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@issue.Title</h5>
                @if (!string.IsNullOrWhiteSpace(issue.Description))
                {
                <p class="card-text">@issue.Description</p>
                }
            </div>
        </div>
    </a>
    }
</div>

<style>
    .card {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        color: black;
    }

    .card:hover {
        color: #007bff;
        border-color: #007bff;
        cursor: pointer;
    }
</style>
