@page
@using Entities
@model IndexModel
@{
ViewData["Title"] = "Home";
var newTopic = new Topic {
Description = "For when your issue doesn't fit into any of the topics above."
};
}

<div class="text-center">
    <h1 class="display-4">Get Help From Your Peers</h1>
</div>
<hr>
<h2>First, Let's Break Down Your Problem.</h2>
<p class="mb-3">
    We live pretty diverse lives. Choose the topic that best relates to your issue.
</p>
<partial name="Topics/_Cards" for="RootTopics" />
<hr class="mt-0">
<partial name="Topics/_TopicOptions" for="@newTopic" />
