@page
@model IndexModel
@{
ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Get Help From Your Peers</h1>
</div>
<hr>
<h2>First, Let's Break Down Your Problem.</h2>
<p class="mb-3">
    We live pretty diverse lives. Choose the topic that best relates to your issue.
</p>
<div class="card-columns">
    @foreach(var topic in Model.RootTopics)
    {
    <a asp-page="Topics/Search" asp-route-id="@topic.Id">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@topic.Title</h5>
                @if (!string.IsNullOrWhiteSpace(topic.Description))
                {
                <p class="card-text">@topic.Description</p>
                }
            </div>
        </div>
    </a>
    }
</div>

<style>
    .card {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        color: black;
    }

    .card:hover {
        color: #007bff;
        border-color: #007bff;
        cursor: pointer;
        text-decoration: none;
    }
</style>
