@page
@{
ViewData["Title"] = "Home";
}

<div class="row align-items-center justify-content-center">
    <div class="col-auto pr-0">
        <img src="/img/logo.svg" style="height: 4rem" alt="rocket logo">
    </div>
    <div class="col-auto">
        <h1 class="display-3 text-primary">Peerra</h1>
    </div>
</div>
<div class="text-center">
    <p class="lead">Empowered Peers Helping Each Other</p>
</div>
<hr>

<div class="row">
    <div class="col-md">
        <div class="text-center">
            <h1 class="display-4">I Need Help!</h1>
            <a asp-page="/Topics/Start" class="btn btn-lg btn-outline-primary">Start Here</a>
        </div>
        <hr class="d-md-none">
    </div>
    <div class="col-md">
        <div class="text-center">
            <h1 class="display-4">I Want To Help!</h1>
            <a href="" class="btn btn-lg btn-outline-success">Start Here</a>
        </div>
    </div>
</div>

<style>
.display-4 {
    font-size: 3rem;
}
</style>
