@page
@model IssueTreeModel
@{
    ViewData["Title"] = "Issue Tree";
    ViewData["UseDefaultHeader"] = "true";
}

<a class="btn btn-outline-secondary mb-3" asp-page="/IssueTree" asp-route-raw="true" target="_blank">View Raw</a>

<pre><code>@Model.JsonIssues</code></pre>
