@page
@{
    ViewData["Title"] = "Privacy Policy";

    var supportEmail = "dlamb19@lsu.edu";
}
<h1>@ViewData["Title"]</h1>

<hr>

<h2>What Happens With Your Data</h2>

<p>Peerra will never share private information with anyone without your consent. Please also be aware that like most social media, a lot of the information you list in your profile is public. Examples include your username and bio.</p>

<h2>A Word on Cookies</h2>

<p>Peerra uses various cookies to make using the service faster and more secure. We don't over-use cookies or use them to track your actions.</p>

<p>If you have any questions, please contact our support team <a href="mailto:@supportEmail">here</a>.</p>
