@page
@model TopicTreeModel
@{
    ViewData["Title"] = "Topic Tree";
    ViewData["UseDefaultHeader"] = "true";
}

<a class="btn btn-outline-secondary mb-3" asp-page="/TopicTree" asp-route-raw="true" target="_blank">View Raw</a>

<pre><code>@Model.JsonTopics</code></pre>
