@page
@model TestPageModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <form class="row justify-content-center" onsubmit="skillSearch(); return false;">
            <div class="col-md  mt-3">
                <input id="skillSearchTerms" class="form-control form-control-lg" placeholder="I'm looking for help with..." type="text">
            </div>
            <div class="col-md-auto mt-3" style="text-align: center">
                <button class="btn btn-primary form-control-lg" type="submit">Get Connected</button>
            </div>
        </form>
    </div>
</div>

<div id="connectionsAndRequests" hidden="true">
    <hr>

    <div class="row">
        <div class="col-lg">
            <h3>My Connections</h3>
            <div class="table-responsive">
                <table hidden="true" class="table" id="connections"></table>
                <p hidden="true" id="noConnectionsMessage">After you make some connections, they will appear here!</p>
            </div>
        </div>
        <div style="border-left:1px solid rgba(0,0,0,.1);"></div>
        <div class="col-lg">
            <h3>Incoming Connections</h3>
            <div class="table-responsive">
                <table hidden="true" class="table" id="incomingConnections"></table>
                <p hidden="true" id="noIncomingConnectionsMessage">After you make some connections, they will appear here!</p>
            </div>
        </div>
    </div>
</div>
