    /*
    Flaticon icon font: Flaticon
    Creation date: 22/10/2018 13:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-speech:before { content: "\f100"; }
.flaticon-002-mission:before { content: "\f101"; }
.flaticon-003-goal:before { content: "\f102"; }
.flaticon-004-test:before { content: "\f103"; }
.flaticon-005-person:before { content: "\f104"; }
.flaticon-006-approve:before { content: "\f105"; }
.flaticon-007-time:before { content: "\f106"; }
.flaticon-008-ladder:before { content: "\f107"; }
.flaticon-009-team:before { content: "\f108"; }
.flaticon-010-target:before { content: "\f109"; }
.flaticon-011-milometer:before { content: "\f10a"; }
.flaticon-012-speaker:before { content: "\f10b"; }
.flaticon-013-statistics:before { content: "\f10c"; }
.flaticon-014-book:before { content: "\f10d"; }
.flaticon-015-rudder:before { content: "\f10e"; }
.flaticon-016-route:before { content: "\f10f"; }
.flaticon-017-chess-piece:before { content: "\f110"; }
.flaticon-018-conversation:before { content: "\f111"; }
.flaticon-019-torch:before { content: "\f112"; }
.flaticon-020-key:before { content: "\f113"; }
.flaticon-021-search:before { content: "\f114"; }
.flaticon-022-award:before { content: "\f115"; }
.flaticon-023-diamond:before { content: "\f116"; }
.flaticon-024-medal:before { content: "\f117"; }
.flaticon-025-shield:before { content: "\f118"; }
.flaticon-026-binoculars:before { content: "\f119"; }
.flaticon-027-balance:before { content: "\f11a"; }
.flaticon-028-compass:before { content: "\f11b"; }
.flaticon-029-girl:before { content: "\f11c"; }
.flaticon-030-clock:before { content: "\f11d"; }
.flaticon-031-crown:before { content: "\f11e"; }
.flaticon-032-presentation:before { content: "\f11f"; }
.flaticon-033-man:before { content: "\f120"; }
.flaticon-034-checklist:before { content: "\f121"; }
.flaticon-035-hearts:before { content: "\f122"; }
.flaticon-036-arrows:before { content: "\f123"; }
.flaticon-037-podium:before { content: "\f124"; }
.flaticon-038-spyglass:before { content: "\f125"; }
.flaticon-039-girl-1:before { content: "\f126"; }
.flaticon-040-puzzle:before { content: "\f127"; }
.flaticon-041-global:before { content: "\f128"; }
.flaticon-042-teamwork:before { content: "\f129"; }
.flaticon-043-briefcase:before { content: "\f12a"; }
.flaticon-044-trophy:before { content: "\f12b"; }
.flaticon-045-management:before { content: "\f12c"; }
.flaticon-046-man-1:before { content: "\f12d"; }
.flaticon-047-rocket:before { content: "\f12e"; }
.flaticon-048-tools:before { content: "\f12f"; }
.flaticon-049-woman:before { content: "\f130"; }
.flaticon-050-man-2:before { content: "\f131"; }
    
    $font-Flaticon-001-speech: "\f100";
    $font-Flaticon-002-mission: "\f101";
    $font-Flaticon-003-goal: "\f102";
    $font-Flaticon-004-test: "\f103";
    $font-Flaticon-005-person: "\f104";
    $font-Flaticon-006-approve: "\f105";
    $font-Flaticon-007-time: "\f106";
    $font-Flaticon-008-ladder: "\f107";
    $font-Flaticon-009-team: "\f108";
    $font-Flaticon-010-target: "\f109";
    $font-Flaticon-011-milometer: "\f10a";
    $font-Flaticon-012-speaker: "\f10b";
    $font-Flaticon-013-statistics: "\f10c";
    $font-Flaticon-014-book: "\f10d";
    $font-Flaticon-015-rudder: "\f10e";
    $font-Flaticon-016-route: "\f10f";
    $font-Flaticon-017-chess-piece: "\f110";
    $font-Flaticon-018-conversation: "\f111";
    $font-Flaticon-019-torch: "\f112";
    $font-Flaticon-020-key: "\f113";
    $font-Flaticon-021-search: "\f114";
    $font-Flaticon-022-award: "\f115";
    $font-Flaticon-023-diamond: "\f116";
    $font-Flaticon-024-medal: "\f117";
    $font-Flaticon-025-shield: "\f118";
    $font-Flaticon-026-binoculars: "\f119";
    $font-Flaticon-027-balance: "\f11a";
    $font-Flaticon-028-compass: "\f11b";
    $font-Flaticon-029-girl: "\f11c";
    $font-Flaticon-030-clock: "\f11d";
    $font-Flaticon-031-crown: "\f11e";
    $font-Flaticon-032-presentation: "\f11f";
    $font-Flaticon-033-man: "\f120";
    $font-Flaticon-034-checklist: "\f121";
    $font-Flaticon-035-hearts: "\f122";
    $font-Flaticon-036-arrows: "\f123";
    $font-Flaticon-037-podium: "\f124";
    $font-Flaticon-038-spyglass: "\f125";
    $font-Flaticon-039-girl-1: "\f126";
    $font-Flaticon-040-puzzle: "\f127";
    $font-Flaticon-041-global: "\f128";
    $font-Flaticon-042-teamwork: "\f129";
    $font-Flaticon-043-briefcase: "\f12a";
    $font-Flaticon-044-trophy: "\f12b";
    $font-Flaticon-045-management: "\f12c";
    $font-Flaticon-046-man-1: "\f12d";
    $font-Flaticon-047-rocket: "\f12e";
    $font-Flaticon-048-tools: "\f12f";
    $font-Flaticon-049-woman: "\f130";
    $font-Flaticon-050-man-2: "\f131";