@using Entities
@model IEnumerable<Topic>

<div class="row row-dense">
	@foreach(var topic in Model)
	{
	<div class="col-sm-6 col-md-4 col-lg-3 card-col">
		@if (topic.IsLeaf) {
		<a asp-page="/Issues/New" asp-route-id="@topic.Id">
			<partial name="Topics/_Card" for="@topic" />
		</a>
		} else {
		<a asp-page="/Topics/Explore" asp-route-id="@topic.Id">
			<partial name="Topics/_Card" for="@topic" />
		</a>
		}
	</div>
	}
</div>
