@using Entities
@model Topic
@{
    if (string.IsNullOrWhiteSpace(Model.Title)) {
        Model.Title = "Submit Your Issue Here";
    }
    var newTopic = new Topic
    {
        Title = Model.Title,
        Description = Model.Description
    };
}

<a asp-page="/Issues/New" asp-route-id="@Model.Id">
    <partial name="Topics/_Card" for="@newTopic" />
</a>
