@using Entities
@model Topic
@{
    var newTopic = new Topic
    {
        Title = "Make Your Own Topic",
        Description = Model.Description
    };
}

<a asp-page="/Topics/New" asp-route-id="@Model.Id">
    <partial name="Topics/_Card" for="@newTopic" />
</a>
