@using Entities
@{
    var somethingElseTopic = new Topic
    {
        Title = "Something Else",
        Description = "For when your issue doesn't quite fit anywhere else."
    };
}

<a asp-page="/Topics/Search">
    <partial name="Topics/_Card" for="@somethingElseTopic" />
</a>
